@import "../_config/_typography";
@import "../_config/_layout";

.header {
}

.nav-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: var(--large-space) 0 0 0;

  & > li {
    text-transform: lowercase;

    & + li {
      margin-left: var(--medium-word-spacing);
    }
  }
}
